header, nav, main, footer, section, div, aside {
  border: 2px solid #000;
}

header {
  text-align:center;
  background-color:beige;

}

.thinkful {
  font-family:cursive;
}

nav {
  text-align:center;
}

footer {
  text-align:center;
}

img {
 width: 100%;
height: auto;
display:block;
margin-left: auto;
 margin-right: auto;
  

}

h3 {
  text-align: center;
  font-size:100%;
}

.aboutme {
  text-align:center;
}

.center {
  text-align:center;
}

.item {
  background-color:beige;
}

main {
  background-color:beige;
}

a:link {
  color: blue;
}

a:hover {
color: red;
}

a:after {
  color:green;
}
